@import "tailwindcss";

@theme {
  --color-surface-container-high: #2d2a1c;
  --color-outline-variant: #434749;
  --color-tertiary-fixed: #f1e2af;
  --color-on-primary-fixed-variant: #40484b;
  --color-on-secondary: #263236;
  --color-inverse-on-surface: #333122;
  --color-secondary-fixed: #d7e5e9;
  --color-primary-fixed-dim: #c0c8cb;
  --color-on-error-container: #ffdad6;
  --color-tertiary-fixed-dim: #d4c695;
  --color-on-tertiary-fixed-variant: #504621;
  --color-on-tertiary: #38300c;
  --color-primary-container: #cbd3d6;
  --color-on-secondary-container: #aab7bc;
  --color-error: #ffb4ab;
  --color-surface-bright: #3c392b;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-surface-dim: #161407;
  --color-on-tertiary-container: #635932;
  --color-surface: #161407;
  --color-tertiary-container: #dfd1a0;
  --color-secondary-container: #3c494c;
  --color-on-surface: #e9e2cd;
  --color-on-primary-fixed: #151d1f;
  --color-primary: #e7eff2;
  --color-surface-container-lowest: #100e04;
  --color-primary-fixed: #dce4e7;
  --color-surface-container-highest: #383526;
  --color-secondary: #bbc9cd;
  --color-inverse-surface: #e9e2cd;
  --color-tertiary: #fcedba;
  --color-surface-tint: #c0c8cb;
  --color-on-primary-container: #535b5e;
  --color-surface-container: #222013;
  --color-on-tertiary-fixed: #221b00;
  --color-on-background: #e9e2cd;
  --color-on-surface-variant: #c3c7c9;
  --color-secondary-fixed-dim: #bbc9cd;
  --color-background: #161407;
  --color-surface-variant: #383526;
  --color-on-primary: #2a3234;
  --color-on-secondary-fixed: #111d21;
  --color-surface-container-low: #1e1c0f;
  --color-inverse-primary: #586062;

  --font-headline: var(--font-epilogue), sans-serif;
  --font-body: var(--font-inter), sans-serif;
  --font-label: var(--font-space-grotesk), monospace;
}

/* Custom CSS */
.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.circular-badge {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cinematic-vignette {
  background: radial-gradient(circle, transparent 20%, rgba(16, 14, 4, 0.8) 100%);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

html, body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
}
